/* pages/finish/finish.wxss */
// 可以定义在 App.less 作为全局的样式
page {
  padding:0 50rpx;
  box-sizing: border-box;
}

.taskTitle {
  position: relative;
  font-size: 48rpx;
  margin-top: 30rpx;
  font-weight:900;
}

.missionRequest {
  margin-top: 35rpx;
}

// 边距信息最好定义在组件之中，不然每次使用都需要分别定义
// 比如下面的信息，可以变成标题的样式 margin-bottom:26rpx
.taskRequire {
  font-size: 28rpx;
  color: rgb(85,85,85);
  width:100%;
}
.confirmBox {
  width: 650rpx;
  .input{
    width: 650rpx;
    word-wrap: break-all;
  }
  .imgBox{
    .img{
      float: left;
      // display: flex;
      width: 210rpx;
      height: 210rpx;
      margin-right: 10rpx;
      margin-bottom: 10rpx;
    }
    .imglast {
      margin-right: 0;
    }
    .delete{
      position: absolute;
      background-color: red;
      color: white;
      font-style:PingFang SC;
      //？字体。。。
      font-weight: 700;
      font-size: 42rpx;
      width: 42rpx;
      height: 42rpx;
      border-radius: 40rpx;
      //padding-left: 6rpx;
      line-height: 42rpx;
      box-sizing: content-box;
    }
  }
  
  
  .add {
    float: left;
    // display: flex;
    width: 210rpx;
    height: 210rpx;
    margin-right: 10rpx;
    margin-bottom: 10rpx;
    border: 1rpx dashed rgb(170,170,170);
    box-sizing: border-box;
    
    .addImg {
      float: left;
      margin-top: 80rpx;
      margin-left: 80rpx;
      width: 50rpx;
      height: 50rpx;
    }
  }

  .addLast {
    margin-right: 0;
  }
}

.confirmBox::after {
  content: "";
  display: block;
  height: 188rpx;
  clear: both;

}

.buttonBox {
  position: fixed;
  bottom: 0rpx;
  left: 0rpx;
  height: 188rpx;
  width: 100%;
  background-color: #fff;
  border-radius: 20rpx 20rpx 0 0;
  button{
    // display: inline-block;
    width: 612rpx;
    height: 100rpx;
    border-radius: 20rpx;
    padding: 4rpx 74rpx 4rpx 74rpx ;
    font-size: 36rpx;
    font-weight: bold;
    background-color: rgb(255, 207, 86);
    color: #fff;
  }

}