/* component/userinfoBox/userinfoBOx.wxss */
.Box {
  width: fit-content;
  color:#333;
  font-size: 28rpx;
  image {
    display: inline-block;
    // 图片与文字的对齐方式
    vertical-align: middle;
    border-radius: 50%;
    height:50rpx;
    width:50rpx;
    margin-right:10rpx;
  }
}

.publisher {
  color:#555;
  font-size: 28rpx;
  image {
    width: 60rpx;
    height: 60rpx;
  }
}