/* component/userinfoBox/userinfoBOx.wxss */
.Box {
  width: fit-content;
  
  image {
    display: inline-block;
  }
  text {
    // line-height: 60rpx;
    position: relative;
    display: inline-block;
    text-align: left;
    margin-left: 10rpx;
    // top:-33rpx;
    // 麻了,瞪眼对齐法
    // 不知道怎么让字自动贴边 我忘了那个属性叫什么
    font-size: 28rpx;
    
  }
}