/* miniprogram.wxss */
.formItem {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20rpx;
  width:100%;
}

.generalTitle {
  font-size: 28rpx;
  color: rgb(136,136,136);
  // width: 56rpx;
  height: 40rpx;
  margin-bottom: 10rpx;
}

.tip {
  position:absolute;  
  top:0;
  right:0;
  color:#ff8668;
  font-size: 26rpx;
}

