/* pages/page1/page1.wxss */
/* page1/page1.wxss */

// 接触小程序写的第一个css文件，比较繁杂

page {
  background-color: #F6F6F6;
}

.topBlock {
  width: 100vw;
  height: 86rpx;
}

.topBlock image{
  float: left;
  margin-top:20rpx;
  width:44rpx;
  height:50rpx;
}

.topBlock view{
  float: left;
}

.search {
  width: 520rpx;
  height: 92rpx;
  background-color: #fff;
  border-radius: 42rpx;
  margin-left: 50rpx;
}

.search image {
  margin-top: 26rpx;
  margin-left: 34rpx;
}

.search input {
  font-size: 36rpx;
  margin-top: 22rpx;
  margin-left: 94rpx;
  height: 50rpx;
}

.tips {
  margin-top: 22rpx;
  margin-left: 42rpx;
}

.titleText {
  margin-left: 50rpx;
  margin-top: 36rpx;
  margin-bottom: 20rpx;
  font-size: 40rpx;
  font-weight: 700;
}

.bigBox{
  height:fit-content;
}

.typeBox {
  margin-left: 50rpx;
}

.typeBox::after{
  clear: both;
  display: block;
  content: "";
}

button{
  float: left;
  color: #FFF;
  border-radius: 20rpx;
  font-size: 52rpx;
  font-weight: bold;
  height: 200rpx;
  padding-top: 20rpx;
}

#fetch {
  background-color:rgb(243,194,175);
  text-align: left;
  width: 394rpx;
  margin-right: 32rpx;
  padding-left: 32rpx;
}

#helpBuy{
  background-color:rgb(236,226,225);
  width: 226rpx;
  text-align: right;
  padding-right: 16rpx;
}

#vote {
  background-color:rgb(200,213,185);
  width: 258rpx;
  margin-top: 40rpx;
  text-align: left;
  padding-left: 30rpx;
}

#other {
  background-color:rgb(212,224,155);
  width: 350rpx;
  margin-top: 40rpx;
  margin-top: 40rpx;
  margin-left: 44rpx;
  text-align: left;
  padding-left: 48rpx;
}

.missions {
  margin-top: 20rpx;
  margin-left: 50rpx;
  margin-right: 48rpx;
}
