/* miniprogram.wxss */
page {
  background-color: rgba(250, 243, 221, 1);
}

.background-publisher {
  position: relative;
  top: -300rpx;
  padding-top: 6rpx;
  padding-left: 50rpx;
  padding-right: 50rpx;
} 

.background-publisher::after {
  clear: both;
  display: block;
  content: '';
  height: 188rpx;
}

.background-execute {
  border-radius: 40rpx;
}


.taskTitle,.bounty{
  font-size: 48rpx;
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
}
.bounty {
  float: right;
}

.remainTaskNum {
  float: right;
  color: rgba(136, 136, 136, 1);
  font-size: 28rpx;
  margin-top: 19rpx;
}

