/**app.wxss**/
// 图标定义在 icon.less 可以直接给 view 加上类名使用图标
@import './icon.less';
@font-face {
  font-family: 'Gilroy Bold';
  src: url("https://gitee.com/zirina/font-family/raw/master/gilroy-bold-4.otf");
}
page {
  // 根元素选择器，可以定义 css 变量
  width: 100%;
  font-family: "PingFang SC";
}
textarea {
  width:unset;
}
button::after {
  border: none;
}

button[type = primary].btn {
  background-color: #FFCF56;
  height:100rpx;
  &:active{
    background-color: #ffc546;
    box-shadow: 0 0 6px 1px #ffc546 ;
  }
}

.btn.shadow {
  box-shadow: 0 0 6px 1px rgba(255, 207, 86, 0.5000);
}


.primary-title {
  font-size: 48rpx;
  font-family: "PingFang SC SemiBold";
  position: relative;
  top:-10rpx;
}

input[type=number]{
  font-family: 'Gilroy Bold';
}